.contactForm{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    img{
        width: 60%;
        opacity: 0.3;
    }
    .form{
        width: 40%;
        background-color: #FDFBFA;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    label, button{
        display: block;
        padding-left: 10px;
    }
    input{
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
    }
    .nameAndSurname{
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        .field{
            display: block;
            padding-right: 10px;
        
        }
    }
    textarea[name = message]{
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        width: 340px;
        height: 90px;
        margin-top: 20px;
    
    }
   
    button{
        width: 70px;
        height: 40px;
        border: 1px solid grey;
        margin-top: 20px;
        margin-left: 275px;
    }
    .wrong{
        color: red;
        font-size: 12px;
        padding-left: 10px;

    }
    
}